bcrypt==3.2.0
blinker==1.4
borb==2.0.13
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
Flask==2.0.2
Flask-Cors==3.0.10
Flask-Mail==0.9.1
fonttools==4.28.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
mariadb==1.0.8
MarkupSafe==2.0.1
Pillow==8.4.0
pycparser==2.20
python-barcode==0.13.1
qrcode==7.3.1
requests==2.26.0
six==1.16.0
urllib3==1.26.7
Werkzeug==2.0.2
